*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #ffff37;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fffda1;
    filter: drop-shadow(0 0 15px black);
    padding: 30px;
    border-radius: 20px;
    transition: all ease .55s;
}

.block:hover{
    transform: translateY(-5px);
    filter: drop-shadow(0 5px 15px black);
}

.block img{
    background: var(--custom-color);
    width: 300px;
    height: auto;
    padding: 30px;
    margin: 20px 20px 0 20px;
    border-radius: 20px;
}

.block .icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block .icons i{
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: all ease .55s;
}

.block .icons i:hover{
    transform: scale(1.2);
}

.all{
    border: 2px solid black;
}

.none{
    border: none;
}

.top{
    border-top: 2px solid black;
}

.right{
    border-right: 2px solid black;
}

.bottom{
    border-bottom: 2px solid black;
}

.left{
    border-left: 2px solid black;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

#color{
    margin-left: 10px;
    border: none;
}

@media(max-width:500px){
    .block{
        padding: 10px;
        height: 400px;
    }
    
    .block img{
        width: 200px;
        margin-top: 0;
        padding: 5px 10px 5px 10px;
    }

    .block .icons{
        margin-top: 2px;
    }

    .block .icons  i{
        font-size: 27px;
    }

    label{
        margin-top: 5px;
        font-weight: 500;
        font-size: 16px;
    }
}
